@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    src: url('./Fonts/sega-logo-font.TTF');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Soft text shadow for depth */
}

p {
    color: #0ccac4;
}

.cardColor {
    color: black;
}


